{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load ratings %}
{% block title %}
{{works.title}}
{% endblock %}
{% block content %}
<!-- Content -->
<div class="col-12 col-md-12 col-lg-10">
	<div class="box box-content">
		<!-- Post -->
		<div class="pb-3">
			<header class="header-post">
				<h1 class="title title--h1">{{works.title}}</h1>
				<div class="caption-post">
					<p>{{works.discription}}</p>
				</div>
				<div class="header-post__image-wrap">
					<img class="cover lazyload" src="{{works.image.url}}" data-zoom alt="" />
				</div>
			</header>
			<div class="caption-post">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
			</div>
			<div class="gallery-post">
				<img class="gallery-post__item cover lazyload" src="{{works.image.url}}" data-zoom alt="" />
				<img class="gallery-post__item cover lazyload" src="{{works.image.url}}" data-zoom alt="" />
				<div class="gallery-post__caption">{{works.author.first}}</div>
			</div>
			<div class="caption-post">
				<h3 class="title title--h3">اگر آمادگی اشتباه کردن را ندارید هرگز موفق نمی شوید</h3>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
				<blockquote class="block-quote">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					<span class="block-quote__author">ملیکا خلیلیان</span>
				</blockquote>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی</p>
			</div>
			<footer class="footer-post">
				<span class="footer-post__share">{% post_to_facebook '{{works.get_absolute_url}}' '<i class="font-icon icon-facebook"></i><span>فیس بوک</span>' %}</span>
				<span class="footer-post__share">{% post_to_twitter 'حتما به سایت ما سر یزنید!' '{{works.get_absolute_url}}' '<i class="font-icon icon-twitter"></i><span>توییتر</span>' %}</span>
			</footer>
			<footer class="footer-post">
				{% ratings works %}
			</footer>
			<footer class="footer-post" id="footer-post">
				{% if request.user.is_authenticated == True %}
				<div>  
					{% if is_liked %}
					<a id="like-post" href="{% url 'work:like' works.slug works.id %}" style="color: rgb(255, 255, 255);"><i onclick="likes('{{works.slug}}' , '{{works.id}}')" class="font-icon icon-like-fill"></i></a>                                   
					{% else %}
					<a id="like-post" href="{% url 'work:like' works.slug works.id %}" style="color: rgb(255, 255, 255);"><i onclick="likes('{{works.slug}}' , '{{works.id}}')" class="font-icon icon-like"></i></a>
					{% endif %}
				</div>
				{% else %}
				<p class="alert alert-danger">برای لایک کردن پست اول در <a href="{% url 'account:register' %}">سایت ثبت نام</a> کنید</p>
				{% endif %}
			</footer>
		</div>
		
		<div class="box-inner box-inner--rounded">
			<h2 class="title title--h3">نظرات <span class="color--light">({{works.comment.count}})</span></h2>
			
			<!-- Comment -->
			<div class="comment-box">
				{% for comment in works.comment.all %}
					{% if comment.parent == None %}
					<div class="comment-box__inner">
						<svg class="avatar avatar--60" viewBox="0 0 84 84">
							<g class="avatar__hexagon">
								{% if comment.user.image.url == None %}
								<image xlink:href="" height="100%" width="100%" />
								{% else %}
								<image xlink:href="{{comment.user.image.url}}" height="100%" width="100%" />
								{% endif %}
							</g>
						</svg>
						<div class="comment-box__body">
							<h5 class="comment-box__details"><span>{{comment.user.username}}</span><span class="comment-box__details-date">{{comment.created}}</span></h5>
							<p>{{comment.message}}</p>
	
							<ul class="comment-box__footer">
								<li onclick="set_value({{ comment.id }})"><i class="font-icon icon-reply"></i><span>پاسخ</span></li>
							</ul>
						</div>
					</div>
					{% endif %}
					{% for reply in comment.replies.all %}
					<div class="comment-box">
						<div class="comment-box__inner">
							<svg class="avatar avatar--60" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									{% if reply.user.image.url == None %}
									<image xlink:href="" height="100%" width="100%" />
									{% else %}
									<image xlink:href="{{reply.user.image.url}}" height="100%" width="100%" />
									{% endif %}								
								</g>
							</svg>
							<div class="comment-box__body">
								<h5 class="comment-box__details"><span>{{reply.user.username}}</span><span class="comment-box__details-date">{{reply.created}}</span></h5>
								<p>{{reply.message}}</p>
								
								<ul class="comment-box__footer">
									<!-- <li><i class="font-icon icon-like-fill"></i> <span>35</span></li> -->
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
				<!-- Comment -->
			</div>
			
			<!-- Comment form -->
			<ul class="social-auth">
				<!-- <li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-facebook"></i></a></li>
				<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-twitter"></i></a></li>
				<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-dribbble"></i></a></li>
				<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-behance"></i></a></li> -->
			</ul>
			{% if request.user.is_authenticated == True %}
			<form class="comment-form" action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="parent_id" id="parent_id" value="">
				<textarea id="commentForm" name="message" class="textarea form-control" required="required" placeholder="نظر خود را بنویسید..." rows="1"></textarea>
				<button type="submit" class="btn"><i class="font-icon icon-send"></i></button>
				<!-- <div class="dropdown dropup">
					<i class="font-icon icon-smile" id="dropdownEmoji" data-toggle="dropdown" aria-haspopup="true"></i>
					<div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownEmoji">
						<div class="emoji-wrap">
							<img class="emoji" src="{% static "icons/emoji/emoji-laughing.svg" %}" title=":laughing:" alt="laughing"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-happy-2.svg" %}" title=":happy 2:" alt="happy 2"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-crazy.svg" %}" title=":crazy:" alt="crazy"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-bad.svg" %}" title=":bad:" alt="bad"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-angry.svg" %}" title=":angry:" alt="angry"/>
							<img class="emoji" src="{% static  "icons/emoji/emoji-happy.svg" %}" title="happy" alt="happy"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-thinking.svg" %}" title=":thinking:" alt="thinking"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-sad.svg" %}" title=":sad:" alt="sad"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-pressure.svg" %}" title=":pressure:" alt="pressure"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-in-love.svg" %}" title=":in love:" alt="in love"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-nerd.svg" %}" title=":laughing:" alt="nerd"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-happy-3.svg" %}" title=":happy 3:" alt="happy 3"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-shocked.svg" %}" title=":shocked:" alt="shocked"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-wink.svg" %}" title=":wink:" alt="wink"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-sweating.svg" %}" title=":sweating:" alt="sweating"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-shocked-2.svg" %}" title=":shocked 2:" alt="shocked 2"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-shocked-3.svg" %}" title=":shocked 3:" alt="shocked 3"/>
							<img class="emoji" src="{% static "icons/emoji/emoji-sad-2.svg" %}" title=":sad 2:" alt="sad 2"/>
						</div>	
					</div>
				</div>	 -->
			</form>
			{% else %}
			<p class="alert alert-danger">برای به اشتراک گذاشتن نظرات خود در سایت <a href="{% url 'account:register' %}">سایت ثبت نام</a> کنید</p>
			{% endif %}
		</div>
	</div>
<script>
	function set_value(id){
		document.getElementById('parent_id').value = id;
		window.location.href = '#commentForm'
	}
</script>
{% endblock %}