{% extends 'base.html' %}
{% load static %}
{% block title %}
کار ها
{% endblock %}
{% block content %}			
<!-- Content -->
<div class="col-12 col-md-12 col-lg-10">
	<div class="box box-content">
		<div class="pb-2">
			<h1 class="title title--h1 first-title title__separate">نمونه کار</h1>
		</div>
		
		<!-- Filter -->
		<div class="select">
			<span class="placeholder">انتخاب دسته بندی</span>
			<ul class="filter">
				<li class="filter__item">دسته بندی</li>
				<li class="filter__item" data-filter="{% url 'work:main_work' %}"><a class="filter__link" href="{% url  'work:main_work' %}">همه</a></li>
				{% for data in categories %}
				<li class="filter__item" data-filter="{% url 'work:category_detail' data.id %}"><a class="filter__link" href="category/{{data.id}}">{{data.title}}</a></li>
				{% endfor %}
			</ul>
			<input type="hidden" name="changemetoo"/>
		</div>

		<!-- Gallery -->
		<div class="gallery-grid gallery-grid-two js-grid js-filter-container">
			<div class="gutter-sizer"></div>
			<!-- Item 1 -->
			<!-- <figure class="gallery-grid__item category-concept">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_01.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">نصف آووکادو</h4>
					<span class="gallery-grid__category">مفهوم</span>
				</figcaption>
			</figure> -->

			<!-- Item 2 -->
			<!-- {% for data in works %}
			<figure class="gallery-grid__item category-concept">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{{data.image.url}}" data-zoom alt="" />
				</div>	
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">{{data.title}}</h4>
					<span class="gallery-grid__category">{{data.categories.first}}</span>
				</figcaption>
			</figure>
			{% endfor %} -->
			<!-- Item 3 -->
			<!-- <figure class="gallery-grid__item category-design">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_03.jpg" %}" data-zoom alt="" />
				</div>	
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">چکیده</h4>
					<span class="gallery-grid__category">طراحی</span>
				</figcaption>
			</figure> -->

			<!-- Item 4 -->
			<!-- <figure class="gallery-grid__item category-design">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_04.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">چکیده #2</h4>
					<span class="gallery-grid__category">طراحی</span>
				</figcaption>
			</figure> -->

			<!-- Item 5 -->
			<!-- <figure class="gallery-grid__item category-design">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_05.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">چکیده #3</h4>
					<span class="gallery-grid__category">طراحی</span>
				</figcaption>
			</figure> -->

			<!-- Item 6 -->
			{% for data in works %}
			<figure class="gallery-grid__item category-life">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{{data.image.url}}" data-zoom alt="*" />
				</div>
				<figcaption class="gallery-grid__caption">
					{% if data.detail == True %}
					<a href="{% url 'work:work_detail' data.slug %}"><h4 class="title title--h6 gallery-grid__title">{{data.title}}</h4></a>
					{% else %}
					<h4 class="title title--h6 gallery-grid__title">{{data.title}}</h4>
					{% endif %}
					<span class="gallery-grid__category">{{data.categories.first}}</span>
				</figcaption>
			</figure>
			{% endfor %}
			<!-- Item 7 -->
			<!-- <figure class="gallery-grid__item category-concept">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_07.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">هلو</h4>
					<span class="gallery-grid__category">مفهوم</span>
				</figcaption>
			</figure> -->

			<!-- Item 8 -->
			<!-- <figure class="gallery-grid__item category-design">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_08.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">چکیده #4</h4>
					<span class="gallery-grid__category">طراحی</span>
				</figcaption>
			</figure> -->

			<!-- Item 9 -->
			<!-- <figure class="gallery-grid__item category-life">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="{% static "img/image_09.jpg" %}" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title title--h6 gallery-grid__title">جوجه تيغي</h4>
					<span class="gallery-grid__category">زندگی</span>
				</figcaption>
			</figure> -->
		</div><!-- Gallery End -->
	</div>
{% endblock %}