{% extends "base.html"%}
{% load static %}
{% block title %}
خانه
{% endblock %}
{% block content %}
<!-- Content -->
<div class="col-12 col-md-12 col-lg-10">
<div class="box box-content">
    <!-- About -->
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate">درباره ی من</h1>
        {% for content in about %}
        <p>{{content.about_content}}</p>
        {% endfor %}
    </div>
    
    <!-- What -->
    <div class="mt-1">
        <h2 class="title title--h3">کاری که انجام می دهم</h2>
        <div class="row">
            <!-- Case Item -->
            {% for item in activity %}
            <div class="col-12 col-lg-6">
                <div class="case-item">
                    <img class="case-item__icon" src="{{item.image.url}}" alt="" />
                    <div>
                        <h3 class="title title--h4">{{item.title}}</h3>
                        <p class="case-item__caption">{{item.content}}</p>
                    </div>	
                </div>
            </div>
            {% endfor %}
        </div>	
    </div>
    
    <!-- Testimonials -->
    <div class="mt-2">
        <h2 class="title title--h3">نظرات</h2>
        <div class="swiper-container js-carousel-review">
            <div class="swiper-wrapper">
                <!-- Item review -->
                {% for item in contact %}
                <div class="swiper-slide review-item">
                    <svg class="avatar avatar--80" viewBox="0 0 84 84">
                        <g class="avatar__hexagon">
							<image xlink:href="{% static "img/main-photo.svg" %}"  height="100%" width="100%">
                        </g>
                    </svg>
                    <div class="review-item__textbox">
                        <h4 class="title title--h5">{{item.username}}</h4>
                        <p class="review-item__caption">{{ item.message }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
{% endblock %}